body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
.container
{
	width: 1000px;
	height: 550px;
	background-color: #686868;
	margin: 20px auto;
}
#heading{
	align-self: center;
	color: red;
}